.dropdown, .rightDropdown {
  background-color: #0076ff;

  width: 225px;
  height: 50px;

  display: flex;
  align-items: center;

  color: #f6f6f6;

  border-radius: 7px;

  cursor: pointer;
  user-select: none;

  position: relative;

  box-shadow: 0px 5px 10px #94c6ff;
}

.dropdown {
  justify-content: flex-start;
  padding-left: 15px;
  background-color: #201E1F;
  box-shadow: 0px 5px 10px #c0c0c0;
}

.rightDropdown {
  justify-content: flex-end;
  padding-right: 15px;
}
.dropdownArrow {
  transition: 0.1s linear rotate;
}
.dropdownText {
  font-weight: 400;
  font-size: 1.1rem;
}

.arrowDefault {
  transition: 0.1s linear rotate;
  rotate: 0deg;
  position: absolute;
  right: 15px;
}

.arrowFlipped {
  rotate: -90deg;
  transition: 0.1s linear rotate;
  right: 15px;
  position: absolute;
}

.rightArrowDefault {
  transition: 0.1s linear rotate;
  rotate: 0deg;
  position: absolute;
  left: 15px;
}

.rightArrowFlipped {
  rotate: 90deg;
  transition: 0.1s linear rotate;
  left: 15px;
  position: absolute;
}

.arrowLeftFlipped {
  rotate: 90deg;
  transition: 0.1s linear rotate;
  right: 15px;
  position: absolute;
}

.leftDropdownDefault, .leftDropdownShow, .rightDropdownDefault, .rightDropdownShow {
  display: flex;
  flex-direction: column;
  position: absolute;

  background-color:#f6f6f6;
  width: 200px;
  height: 250px;
  border-radius: 7px;
  overflow-y: scroll;
  transition: 0.1s linear opacity;

  box-shadow: 0px 5px 10px #d4d4d4;

}

.leftDropdownDefault, .leftDropdownShow {
  left: 100%;
}
.leftDropdownDefault {
  opacity: 0;
  visibility: hidden;
}
.leftDropdownShow {
  z-index: 200;
  visibility: visible;
  opacity: 1;
}
.rightDropdownDefault, .rightDropdownShow {
  left: -90%;

}
.rightDropdownShow {
  opacity: 1;
  visibility: visible;
  z-index: 200;
}

.rightDropdownDefault {

  visibility: hidden;
  opacity: 0;
}
.leftDropdownShow > .dropdownElement {
  color: #201E1F;
}

.leftDropdownShow > .dropdownElement:hover {
  background-color: #c0c0c0;
}
.dropdownElement {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  transition: 0.1s linear background-color;
  border-radius: 7px;
  color:#0076ff;
}

.dropdownElement:hover {
  background-color: #c3dfff;
}

@media (max-width: 768px) {
  .dropdown, .rightDropdown {
    width: 185px;

  }

  .rightDropdownShow {
    left: -110%;
  }

  .dropdownText {
    font-size: 0.9rem;

  }
}